<!DOCTYPE html>
<html lang="id">

<%- include('../layout/_head') %>
    <link rel="stylesheet" href="/css/global.css">

    <body>
        <div class="header-container">
            <div class="header container text-center px-3">
                <h2 class="pt-2">Youtube Player Audio Only</h2>
                <p class="pb-2 fst-italic">by R45Y1D</p>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="img-container">
                            <img src="https://cdn.glitch.com/884f222d-d101-4b06-9ea7-2386f2a78040%2Fyoutube-logo.jpg?v=1617364799955"
                                class="card-img-top">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Play Youtube Videos as Audio</h5>
                            <p class="card-text">Memutar video Youtube sebagai Audio, cocok digunakan untuk mendengarkan
                                musik, bisa
                                berputar di latar belakang</p>
                            <a href="/yt" class="btn btn-danger d-block">Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layout/_asset') %>
    </body>

</html>